In [1]:
import pandas as pd
data = pd.read_csv('StockEtablissement_utf8/StockEtablissement_utf8.csv')

C:\Users\jruel\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7,12,18,20,21,22,24,25,27,28,29,31,33,34,36,38,42,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
data.head()

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N

In [3]:
data.head(20)

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
5,325175,65,32517500065,O,2018-02-07,NaN,NaN,NaN,2019-12-13T13:21:28,True,...,NaN,2018-02-07,A,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
6,1807254,14,180725400014,O,1972-05-01,NaN,NaN,NaN,2009-10-02T11:01:38,False,...,NaN,2008-01-01,F,NaN,NaN,NaN,NaN,95.24Z,NAFRev2,N
7,1807254,22,180725400022,O,2009-10-01,NaN,NaN,NaN,2019-11-14T14:00:13,True,...,NaN,2014-12-31,F,NaN,NaN,NaN,NaN,85.59A,NAFRev2,N
8,5410220,15,541022000015,O,NaN,NN,NaN,NaN,2019-11-14T14:01:01,True,...,NaN,1988-03-31,F,NaN,NaN,NaN,NaN,22.02,NAP,N
9,5410345,10,541034500010,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,79.06,NAP,N
10,5410394,18,541039400018,O,NaN,NN,NaN,NaN,NaN,True,...,NaN,1987-12-01,F,NaN,NaN,NaN,NaN,64.42,NAP,N
11,5410428,14,541042800014,O,1954-01-01,NN,NaN,NaN,NaN,True,...,NaN,1989-06-11,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
12,5410436,17,541043600017,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1984-12-25,F,NaN,NaN,NaN,NaN,57.11,NAP,N
13,5410485,14,541048500014,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1985-12-25,F,NaN,NaN,NaN,NaN,64.42,NAP,N
14,5410493,18,541049300018,O,NaN,NaN,NaN,NaN,2019-11-14T14:01:01,True,...,NaN,NaN,F,NaN,NaN,NaN,NaN,86.06,NAP,N
15,5410501,18,541050100018,O,1954-01-01,NN,NaN,NaN,NaN,True,...,NaN,2001-12-31,F,NaN,NaN,NaN,NaN,55.4B,NAF1993,N
16,5410519,10,541051900010,O,NaN,NN,NaN,NaN,NaN,True,...,NaN,NaN,F,NaN,NaN,NaN,NaN,62.11,NAP,N
17,5410527,13,541052700013,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1997-07-01,F,NaN,NaN,NaN,NaN,70.2C,NAF1993,N
18,5410543,10,541054300010,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,F,NaN,NaN,NaN,NaN,67.05,NAP,N
19,5410642,10,541064200010,O,NaN,NN,NaN,NaN,NaN,True,...,NaN,1991-12-31,F,NaN,NaN,NaN,NaN,64.45,NAP,N

In [5]:
print(data.columns.values)

['siren' 'nic' 'siret' 'statutDiffusionEtablissement'
 'dateCreationEtablissement' 'trancheEffectifsEtablissement'
 'anneeEffectifsEtablissement'
 'activitePrincipaleRegistreMetiersEtablissement'
 'dateDernierTraitementEtablissement' 'etablissementSiege'
 'nombrePeriodesEtablissement' 'complementAdresseEtablissement'
 'numeroVoieEtablissement' 'indiceRepetitionEtablissement'
 'typeVoieEtablissement' 'libelleVoieEtablissement'
 'codePostalEtablissement' 'libelleCommuneEtablissement'
 'libelleCommuneEtrangerEtablissement' 'distributionSpecialeEtablissement'
 'codeCommuneEtablissement' 'codeCedexEtablissement'
 'libelleCedexEtablissement' 'codePaysEtrangerEtablissement'
 'libellePaysEtrangerEtablissement' 'complementAdresse2Etablissement'
 'numeroVoie2Etablissement' 'indiceRepetition2Etablissement'
 'typeVoie2Etablissement' 'libelleVoie2Etablissement'
 'codePostal2Etablissement' 'libelleCommune2Etablissement'
 'libelleCommuneEtranger2Etablissement'
 'distributionSpeciale2Etablissement' 'codeCommune2Etablissement'
 'codeCedex2Etablissement' 'libelleCedex2Etablissement'
 'codePaysEtranger2Etablissement' 'libellePaysEtranger2Etablissement'
 'dateDebut' 'etatAdministratifEtablissement' 'enseigne1Etablissement'
 'enseigne2Etablissement' 'enseigne3Etablissement'
 'denominationUsuelleEtablissement' 'activitePrincipaleEtablissement'
 'nomenclatureActivitePrincipaleEtablissement'
 'caractereEmployeurEtablissement']

In [7]:
data = pd.read_excel('naf2008_liste_n5.xls')

In [9]:
data.head(20)

,"NAF rév. 2, 2008 - Niveau 5 - Liste des sous-classes",Unnamed: 1
0,NaN,NaN
1,Code,Libellé
2,01.11Z,"Culture de céréales (à l'exception du riz), de..."
3,01.12Z,Culture du riz
4,01.13Z,"Culture de légumes, de melons, de racines et d..."
5,01.14Z,Culture de la canne à sucre
6,01.15Z,Culture du tabac
7,01.16Z,Culture de plantes à fibres
8,01.19Z,Autres cultures non permanentes
9,01.21Z,Culture de la vigne
10,01.22Z,Culture de fruits tropicaux et subtropicaux
11,01.23Z,Culture d'agrumes
12,01.24Z,Culture de fruits à pépins et à noyau
13,01.25Z,Culture d'autres fruits d'arbres ou d'arbustes...
14,01.26Z,Culture de fruits oléagineux
15,01.27Z,Culture de plantes à boissons
16,01.28Z,"Culture de plantes à épices, aromatiques, médi..."
17,01.29Z,Autres cultures permanentes
18,01.30Z,Reproduction de plantes
19,01.41Z,Élevage de vaches laitières

In [2]:
import folium
from folium.plugins import HeatMap

lat = 47.3931281
lon = 0.6687137

map = folium.Map(location = [lat, lon], zoom_start = 20)
folium.Marker(location = [lat, lon],  popup = "MAME").add_to(map)

map

In [108]:
import psycopg2
try:
    conn = psycopg2.connect(
          user = "ruellan",
          password = "142b545f0645ac931804f22199d67f80068d6d1f7372b6c20b2d36573f2dc951",
          host = "localhost",
          port = "5433",
          database = "NoJe_Sirene"
    )
    cur = conn.cursor()
    # Afficher la version de PostgreSQL 
    cur.execute("SELECT version();")
    version = cur.fetchone()
    print("Version : ", version,"\n")
    
    #sql = "SELECT code_postal FROM region"
    #sql = "SELECT activite FROM naf INNER JOIN sirene_all ON naf.code_activite = sirene_all.code_activite LIMIT 50"
    sql = "SELECT a.siret, c.activite, b.latitude, b.longitude FROM sirene_all a, region b, naf c WHERE a.code_postal=b.code_postal AND a.code_activite=c.code_activite LIMIT 50;"
    
    cur.execute(sql)
    print("Sélectionner des lignes dans la table person")
    res = cur.fetchall() 
  
    print(res)
    #for row in res:
        #print("Code = ", row[0], )
        #print("Libellé = ", row[1], )
    
    #fermeture de la connexion à la base de données
    cur.close()
    conn.close()
    print("La connexion PostgreSQL est fermée")
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion à PostgreSQL", error)

Version :  ('PostgreSQL 12.10 (Ubuntu 12.10-1.pgdg20.04+1+b1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0, 64-bit',)

Sélectionner des lignes dans la table person
[(32517500024, 'Autres commerces de détail sur éventaires et marchés', 43.9352448339, 4.84071572505), (32517500032, "Fabrication d'articles de joaillerie et bijouterie", 43.9352448339, 4.84071572505), (32517500040, "Fabrication d'articles de joaillerie et bijouterie", 43.2981044185, 5.64391464048), (32517500057, "Fabrication d'articles de joaillerie et bijouterie", 43.306733355, 5.40087488752), (32517500065, "Fabrication d'articles de joaillerie et bijouterie", 43.306733355, 5.40087488752), (180725400014, "Réparation de meubles et d'équipements du foyer", 48.7670812602, 5.88801466262), (180725400022, "Formation continue d'adultes", 49.8961825414, 3.36742260207), (541158200017, "Location de terrains et d'autres biens immobiliers", 50.1083582944, 1.83209170207), (542002100015, 'Commerce de gros (commerce interentreprises) de fournitures et équipements industriels divers', 50.1083582944, 1.83209170207), (542002100023, 'Commerce de gros (commerce interentreprises) de fournitures et équipements industriels divers', 49.9178206413, 1.40811370828), (542002100031, 'Commerce de gros (commerce interentreprises) de fournitures et équipements industriels divers', 50.0864703319, 1.49294201709), (542002100049, 'Commerce de gros (commerce interentreprises) de fournitures et équipements industriels divers', 50.1083582944, 1.83209170207), (542002100056, 'Commerce de gros (commerce interentreprises) de fournitures et équipements industriels divers', 50.1083582944, 1.83209170207), (542010400019, "Commerce de détail d'habillement en magasin spécialisé", 50.1083582944, 1.83209170207), (542012000015, 'Fabrication de sucre', 50.3376452337, 1.81790740998), (542012000023, 'Entreposage et stockage non frigorifique', 50.4412207446, 1.66789087192), (542012000031, 'Activités des sièges sociaux', 50.3867453505, 1.96316204355), (542012000049, 'Commerce de gros (commerce interentreprises) de produits chimiques', 50.4412207446, 1.66789087192), (544001100012, "Location de terrains et d'autres biens immobiliers", 44.0908723554, 6.23590323452), (544011000061, "Location de terrains et d'autres biens immobiliers", 44.0908723554, 6.23590323452), (544056500017, "Location de terrains et d'autres biens immobiliers", 44.1182449561, 5.95734484907), (544104300014, "Location de terrains et d'autres biens immobiliers", 44.0908723554, 6.23590323452), (545009300025, 'Entretien et réparation de véhicules automobiles légers', 43.7887902464, 6.03091832001), (545009300033, 'Autres commerces de détail spécialisés divers', 43.7438250286, 5.98891639232), (545009300041, "Commerce de détail d'habillement en magasin spécialisé", 43.7438250286, 5.98891639232), (545009300058, "Commerce de détail d'habillement en magasin spécialisé", 43.7438250286, 5.98891639232), (545011900028, 'Activités des sièges sociaux', 44.0908723554, 6.23590323452), (545011900036, 'Débits de boissons', 44.0908723554, 6.23590323452), (547180000028, "Location de terrains et d'autres biens immobiliers", 47.3313320913, -2.41703658813), (547298000019, "Location de terrains et d'autres biens immobiliers", 47.2968036073, -1.8357108105), (547320200025, "Location de terrains et d'autres biens immobiliers", 47.2309985029, -1.72929002573), (547496000019, "Location de terrains et d'autres biens immobiliers", 47.2802857028, -2.25379927249), (548054600018, 'Fabrication de papier et de carton', 47.3313320913, -2.41703658813), (548054600067, 'Fabrication de cartonnages', 48.8453830392, 3.59711725011), (551145600013, "Location de terrains et d'autres biens immobiliers", 49.9600031644, 1.63026565334), (552002800019, "Location de terrains et d'autres biens immobiliers", 50.0427980747, 1.52971446889), (552007700016, 'Fabrication de serrures et de ferrures', 50.0660366423, 1.67027205864), (552017600016, 'Fabrication de carton ondulé', 50.0660366423, 1.67027205864), (552017600032, 'Fabrication de carton ondulé', 50.0660366423, 1.67027205864), (552024200016, 'Fabrication de peintures, vernis, encres et mastics', 50.0556210694, 1.96022632545), (552024200065, 'Fabrication de peintures, vernis, encres et mastics', 48.8983093876, 2.40872147475), (552024200073, 'Fabrication de peintures, vernis, encres et mastics', 48.7750019561, 1.99344014312), (552032500019, 'Commerce de gros (commerce interentreprises) de fournitures pour la plomberie et le chauffage', 50.0427980747, 1.52971446889), (552032500027, 'Activités des sièges sociaux', 48.8927350746, 2.34871193387), (554027300025, "Location de terrains et d'autres biens immobiliers", 43.9462808705, 6.37811558709), (554038000010, 'Commerce de détail de produits pharmaceutiques en magasin spécialisé', 44.0908723554, 6.23590323452), (554066100021, "Location de terrains et d'autres biens immobiliers", 44.0908723554, 6.23590323452), (554120600024, "Location de terrains et d'autres biens immobiliers", 44.0403038573, 6.73450900533), (554143800023, "Location de terrains et d'autres biens immobiliers", 44.0908723554, 6.23590323452), (554155200013, 'Hôtels et hébergement similaire', 44.1439752737, 6.5977277471)]
La connexion PostgreSQL est fermée

In [61]:
# import des librairies
import sqlite3
#import mysql.connector
import pymysql
from sqlalchemy import create_engine
import psycopg2
import yaml
import pandas as pd

In [75]:
with open ('C:/Users/jruel/Desktop/Sirene/config.yaml', 'r') as f:
    conf = yaml.safe_load(f)
my = conf['PG']

conf['PG']['database']

'NoJe_Sirene'

In [76]:

str = f"postgresql://{my['user']}:{my['password']}@{my['host']}:{my['port']}/{my['database']}"
engine = create_engine(str, echo=False)

In [77]:
conn = sqlite3.connect('NoJe_Sirene.db')
conn

In [73]:
print('-----------------------')
df = pd.read_sql_query('SELECT count(*) FROM naf;', conn)
print(df)

-----------------------

DatabaseError: Execution failed on sql 'SELECT count(*) FROM naf;': no such table: naf